@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?geohnb');
  src:  url('fonts/icomoon.eot?geohnb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?geohnb') format('truetype'),
    url('fonts/icomoon.woff?geohnb') format('woff'),
    url('fonts/icomoon.svg?geohnb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-cosmetic:before {
  content: "\e902";
}
.icon-facebook1:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-map-pin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-trim:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-woman-hair:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
